@import '~bootstrap/scss/_functions.scss';
@import './helpers/_variables.scss';
@import '~bootstrap/scss/bootstrap.scss';


html, body {
  height: 100%;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  transition: all 0.3s;
  &:hover {
    opacity: 0.5;
    text-decoration: none;
  }
}

.bg-light-gray {
  background-color: #eeeeee;
}
.text-opacity-black {
  color: rgba(black, 0.4);
}

// 清除該死的outline
input,
input:focus,
button:focus,
button:active:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  box-shadow: none !important;
  outline: none !important;
}